*{
    margin: 0;
    padding: 0;
}

.fondo{
    background-color: #613525;
}

<!--iconos redes-->

.iconosredes{
    justify-content: right;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

<!--navbar-->

.estilo-titulo{
    color:white;
    font-size: 4rem;

}
.navbar-estilo{
    color: white;
    font-size: 2.5rem;
}

.colorboton{
    color: white;

}

<!--biografia-->

.fondo-bio{
    background-color:#613525;
}

.estilo-titulo-bio{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.texto-biografia{
    text-align: left;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    margin-left: 50px;
}
.grid-img-bio{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    grid-template-areas: "..centrado-img-bio";
}

.img-bio{
    grid-area: centrado-img-bio;
    width: 450px;
    height: 600px;
}
.estilo-des-bio{
    font-size: 1rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-bottom: 20px;
}

<!--discografia-->

.fondo-dis{
    background-color: #613525;
}
.estilodisco{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    margin-bottom: 30px;
    color: white;
}

.centradoye{
    width: 250px;
    color: black;
    margin-top: 20px;
    text-align: center;
}
.gridiscografia{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "dis1 dis2 dis3 dis4"
    "dis5 dis6 dis7 dis8"
    "dis9 dis10 dis11 dis12"
    "dis13 dis14 dis15 dis16"
    "dis17 dis18 dis19 dis20";
    overflow: hidden;
    row-gap: 20px;
}

.dis1{
    grid-area: dis1;
}
.dis2{
    grid-area: dis2;
}
.dis3{
    grid-area: dis3;
}
.dis4{
    grid-area: dis4;
}
.dis5{
    grid-area: dis5;
}
.dis6{
    grid-area: dis6;
}
.dis7{
    grid-area: dis7;
}
.dis8{
    grid-area: dis8;
}
.dis9{
    grid-area: dis9;
}
.dis10{
    grid-area: dis10;
}
.dis11{
    grid-area: dis11;
}
.dis1{
    grid-area: dis1;
}
.dis12{
    grid-area: dis12;
}
.dis13{
    grid-area: dis13;
}
.dis14{
    grid-area: dis14;
}
.dis1{
    grid-area: dis15;
}
.dis15{
    grid-area: dis16;
}
.dis16{
    grid-area: dis17;
}
.dis17{
    grid-area: dis18;
}
.dis18{
    grid-area: dis19;
}
.dis20{
    grid-area: dis20;
}

<!--shows-->

table{
    width: 100%;
    border: 1px solid #000;
    width: 800px;
    overflow: hidden;
    justify-content: center;
    display: flex;
}
th, td {
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    background-color: #848484;
    color: black;
    font-family: 'Courier New', Courier, monospace serif;
    font-size: 1.3rem;
}

.centradoshow{
    text-align: center;
    background-color:#848484;
    color: black;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace serif;
}

<!--galeria-->

.estilogaleria{
    text-align: center;
    color: black;
    background-color:#848484;
    padding-bottom: 30px;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace serif;
}

.gridGaleria{
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "uno dos tres"
    "cuatro cinco seis"
    "siete ocho nueve";
    gap: 3px;
    overflow: hidden;
    background-color:#848484;
}

.imguno{
    grid-area: uno;
}
.imgdos{
    grid-area: dos;
}
.imgtres{
    grid-area: tres;
}
.imgcuatro{
    grid-area: cuatro;
}
.imgcinco{
    grid-area: cinco;
}
.imgseis{
    grid-area: seis;
}
.imgsiete{
    grid-area: siete;
}
.imgocho{
    grid-area: ocho;
}
.imgnueve{
    grid-area: nueve;
}


<!--contacto-->
.estilocontacto{
    text-align: center;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    background-color: #848484;
    font-size: 3rem;
}

.contacto{
    width: 400px;
    height: 300px;
    text-align: left;
    background-color: #848484;
    border: solid 1px;
    justify-content: left;
}


@media screen and (min-width:320px){

.iconosredes{
    justify-content: right;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.estilobiografia{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace sans-serif;
    font-size: 2rem;
    margin: 0;
    width: auto;
}

.textobiografia{
    text-align: left;
    color:#000;
    width: 320px;
    font-family: 'Courier New', Courier, monospace serif;
    overflow: hidden;
    font-size: 0.8rem;
}

.estilodisco{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    background-color: #848484;
    margin-bottom: 15px;
    color: black;
}

.centradoye{
    width: 250px;
    color:black;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.gridiscografia{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "dis1 dis2"
    "dis3 dis4"
    "dis5 dis6"
    "dis7 dis8"
    "dis9 dis10"
    "dis11 dis12"
    "dis13 dis14"
    "dis15 dis16"
    "dis17 dis18"
    "dis19 dis20";
    overflow: hidden;
    background-color: #848484;
    margin-right: 6px;
}

.dis1{
    grid-area: dis1;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;

}
.dis2{
    grid-area: dis2;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
}
.dis3{
    grid-area: dis3;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.dis4{
    grid-area: dis4;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
}
.dis5{
    grid-area: dis5;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.dis6{
    grid-area: dis6;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
}
.dis7{
    grid-area: dis7;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.dis8{
    grid-area: dis8;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
}
.dis9{
    grid-area: dis9;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.dis10{
    grid-area: dis10;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
}
.dis11{
    grid-area: dis11;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.dis12{
    grid-area: dis12;
    width: 150px;
    height: 150px;margin-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.dis13{
    grid-area: dis13;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.dis14{
    grid-area: dis14;
    width: 150px;
    height: 150px;margin-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.dis15{
    grid-area: dis15;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.dis16{
    grid-area: dis16;
    width: 150px;
    height: 150px;margin-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.dis17{
    grid-area: dis17;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.dis18{
    grid-area: dis18;
    width: 150px;
    height: 150px;margin-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.dis19{
    grid-area: dis19;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.dis20{
    grid-area: dis20;
    width: 150px;
    height: 150px;margin-left: 10px;
    margin-right: 10px;margin-left: 10px;
    margin-right: 10px;
}

.centradoye{
    width: 250px;
    color: black;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
table{
    width: 100%;
    border: 1px solid #000;
    width: 320px;
    overflow: hidden;
    justify-content: center;
    display: flex;
}
th, td {
    width: 300px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    background-color: #848484;
    color: black;
    font-family: 'Courier New', Courier, monospace serif;
    font-size: 0.8rem;
}

.centradoshow{
    text-align: center;
    background-color:#848484;
    color: black;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace serif;
}

.estilogaleria{
    text-align: center;
    color: black;
    background-color:#848484;
    padding-bottom: 30px;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace serif;
}

.gridGaleria{
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "uno"
    "dos"
    "tres"
    "cuatro"
    "cinco"
    "seis"
    "siete"
    "ocho"
    "nueve";
    gap: 3px;
    overflow: hidden;
    background-color:#848484;
}

.imguno{
    grid-area: uno;
}
.imgdos{
    grid-area: dos;
}
.imgtres{
    grid-area: tres;
}
.imgcuatro{
    grid-area: cuatro;
}
.imgcinco{
    grid-area: cinco;
}
.imgseis{
    grid-area: seis;
}
.imgsiete{
    grid-area: siete;
}
.imgocho{
    grid-area: ocho;
}
.imgnueve{
    grid-area: nueve;
}
}

@media screen and (min-width:480px){
    .iconosredes{
        justify-content: right;
        display: flex;
        flex-direction: row;
        font-size: 1rem;
    }
    .estilobiografia{
        text-align: center;
        color: white;
        font-family: 'Courier New', Courier, monospace sans-serif;
        font-size: 2rem;
        margin: 0;
        background-color:#01050a;
        width: auto;
    }
}

@media screen and (min-width:600px){
    .iconosredes{
        justify-content: right;
        display: flex;
        flex-direction: row;
    }
    .estilobiografia{
        text-align: center;
        color: white;
        font-family: 'Courier New', Courier, monospace sans-serif;
        font-size: 2rem;
        margin: 0;
        background-color:#01050a;
        width: auto;
    }
}

@media screen and (min-width:768px){
    .iconosredes{
        justify-content: right;
        display: flex;
        flex-direction: row;
    }
    .estilobiografia{
        text-align: center;
        color: white;
        font-family: 'Courier New', Courier, monospace sans-serif;
        font-size: 2rem;
        margin: 0;
        background-color:#01050a;
        width: auto;
    }
}
@media screen and (min-width:1024px){
    .iconosredes{
        justify-content: right;
        display: flex;
        flex-direction: row;

    }
    .estilobiografia{
        text-align: center;
        color: white;
        font-family: 'Courier New', Courier, monospace sans-serif;
        font-size: 2rem;
        margin: 0;
        background-color:#01050a;
        width: auto;
    }
}
   

@media screen and (min-width:1200px){
    .iconosredes{
        justify-content: right;
        display: flex;
        flex-direction: row;
    }
    .estilobiografia{
        text-align: center;
        color: white;
        font-family: 'Courier New', Courier, monospace sans-serif;
        font-size: 2rem;
        margin: 0;
        background-color:#01050a;
        width: auto;
    }
}


