/*abstracts*/
/*colores principales*/
/*navbar*/
/*biografia*/
/*discografia*/
/*show*/
/*contacto*/
/*fonts*/
/*base*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #613525;
}

h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}

/*novedades*/
.estilo-novedades {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  color: white;
  text-align: center;
  background-color: #93A58D;
  margin-top: 20px;
  width: 900px;
  margin-left: 500px;
}

.size-of-img {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  grid-template-areas: "novedades";
  overflow: hidden;
  width: 500px;
  height: 500px;
  margin-left: 700px;
  margin-bottom: 50px;
  display: inline-block;
  text-align: center;
}

.size-of-img {
  grid-area: novedades;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}

/*iconos redes*/
.iconosredes {
  justify-content: right;
  display: flex;
  flex-direction: row;
  gap: 2.5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

/*navbar*/
.navbar-estilo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.boton {
  padding: 0.35rem 0.8rem;
  font-size: 3rem;
  line-height: 1;
  background-color: #93A58D;
  border-radius: 0.25rem;
  border: 0;
}

.estilo-titulo {
  display: inline-block;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 1rem;
  font-size: 3rem;
  line-height: inherit;
  white-space: nowrap;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
}

li:hover {
  color: blanchedalmond;
  text-decoration: underline;
}

/*biografia*/
.texto-biografia {
  text-align: left;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  margin-left: 50px;
  margin-right: 50px;
}

.grid-img-bio {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  grid-template-areas: "..centrado-img-bio";
}

.img-bio {
  grid-area: centrado-img-bio;
  width: 450px;
  height: 600px;
  margin-bottom: 10px;
}

.estilo-des-bio {
  font-size: 1rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin-bottom: 50px;
}

/*discografia*/
.centradoye {
  color: white;
  margin-top: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: green;
}

.gridiscografia {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "dis1 dis2 dis3 dis4" "dis5 dis6 dis7 dis8" "dis9 dis10 dis11 dis12" "dis13 dis14 dis15 dis16" "dis17 dis18 dis19 dis20";
  overflow: hidden;
  row-gap: 10px;
  column-gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.dis1 {
  grid-area: dis1;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis2 {
  grid-area: dis2;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis3 {
  grid-area: dis3;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis4 {
  grid-area: dis4;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis5 {
  grid-area: dis5;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis6 {
  grid-area: dis6;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis7 {
  grid-area: dis7;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis8 {
  grid-area: dis8;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis9 {
  grid-area: dis9;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis10 {
  grid-area: dis10;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis11 {
  grid-area: dis11;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis12 {
  grid-area: dis12;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis13 {
  grid-area: dis13;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis14 {
  grid-area: dis14;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis15 {
  grid-area: dis15;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis16 {
  grid-area: dis16;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis17 {
  grid-area: dis17;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis18 {
  grid-area: dis18;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis19 {
  grid-area: dis19;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.dis20 {
  grid-area: dis20;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

h3 {
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  text-align: auto;
}

/*show*/
table {
  width: 100%;
  border: 1px solid whitesmoke;
  width: 800px;
  overflow: hidden;
  justify-content: center;
  display: flex;
  margin-left: 560px;
}

th, td {
  width: 25%;
  text-align: center;
  vertical-align: top;
  border: 1px solid whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
  color: white;
}

/*galeria*/
.gridGaleria {
  display: grid;
  grid-template-columns: repeat 4, 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: " uno dos tres" " cuatro cinco seis" " siete ocho nueve";
  overflow: hidden;
  margin-left: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  row-gap: 20px;
}

.imguno {
  grid-area: uno;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.imgdos {
  grid-area: dos;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.imgtres {
  grid-area: tres;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.imgcuatro {
  grid-area: cuatro;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.imgcinco {
  grid-area: cinco;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.imgseis {
  grid-area: seis;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.imgsiete {
  grid-area: siete;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.imgocho {
  grid-area: ocho;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

.imgnueve {
  grid-area: nueve;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}

/*contacto*/
.contacto {
  width: 400px;
  height: 400px;
  text-align: center bisque;
  border: solid 1px;
  background-color: #613525;
  margin-left: 750px;
  margin-bottom: 40px;
}

.size-textarea {
  width: 400px;
  height: 200px;
  background-color: bisque;
}

.fondo-contact {
  background-color: bisque;
}

/*layout*/
.iconosredes {
  justify-content: right;
  display: flex;
  flex-direction: row;
  gap: 2.5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.navbar-estilo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.boton {
  padding: 0.35rem 0.8rem;
  font-size: 3rem;
  line-height: 1;
  background-color: #93A58D;
  border-radius: 0.25rem;
  border: 0;
}

.estilo-titulo {
  display: inline-block;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 1rem;
  font-size: 3rem;
  line-height: inherit;
  white-space: nowrap;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
}

li:hover {
  color: blanchedalmond;
  text-decoration: underline;
}

/*responsive*/
h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}
@media screen and (min-width: 320px) {
  h1 {
    font-size: 2rem;
    font-family: letra;
    color: whitesmoke;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    font-family: "Courier New", Courier, monospace;
    color: whitesmoke;
  }
}

/*novedades*/
.estilo-novedades {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  color: white;
  text-align: center;
  background-color: #93A58D;
  margin-top: 20px;
  width: 900px;
  margin-left: 500px;
}
@media screen and (min-width: 320px) {
  .estilo-novedades {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.3rem;
    color: whitesmoke;
    text-align: center;
  }
}

.size-of-img {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  grid-template-areas: "novedades";
  overflow: hidden;
  width: 500px;
  height: 500px;
  margin-left: 700px;
  margin-bottom: 50px;
  display: inline-block;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .size-of-img {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    grid-template-areas: "novedades";
  }
}

.size-of-img {
  grid-area: novedades;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}
@media screen and (min-width: 320px) {
  .size-of-img {
    grid-area: novedades;
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

/*iconos redes*/
.iconosredes {
  justify-content: right;
  display: flex;
  flex-direction: row;
  gap: 2.5px;
  margin-right: 5px;
  margin-bottom: 15px;
}
@media screen and (min-width: 320px) {
  .iconosredes {
    justify-content: right;
    display: flex;
    flex-direction: wrap;
    gap: 2.5px;
    margin-right: 2px;
  }
}
@media screen and (min-width: 1024px) {
  .iconosredes {
    justify-content: right;
    display: flex;
    flex-direction: row;
  }
}

.size-icons {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 320px) {
  .size-icons {
    width: 25px;
    height: 25px;
  }
}

/*navbar*/
.navbar-estilo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 2rem;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .navbar-estilo {
    text-align: center;
    padding: 1rem 1rem;
    color: white;
    font-size: 1rem;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.boton {
  padding: 0.35rem 0.8rem;
  font-size: 3rem;
  line-height: 1;
  background-color: #93A58D;
  border-radius: 0.25rem;
  border: 0;
}
@media screen and (min-width: 320px) {
  .boton {
    padding: 0.35rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1;
    background-color: white;
    border-radius: 0.25rem;
    border-color: bisque;
    position: relative;
  }
}

.estilo-titulo {
  display: inline-block;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 1rem;
  font-size: 3rem;
  line-height: inherit;
  white-space: nowrap;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
@media screen and (min-width: 320px) {
  .estilo-titulo {
    text-align: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
    color: white;
    font-family: "Courier New", Courier, monospace;
  }
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
}
@media screen and (min-width: 320px) {
  ul {
    text-align: left;
    color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
  }
}

li:hover {
  color: blanchedalmond;
  text-decoration: underline;
}
@media screen and (min-width: 320px) {
  li:hover {
    color: blanchedalmond;
    text-decoration: underline;
  }
}

/*biografia*/
.texto-biografia {
  text-align: left;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  margin-left: 50px;
  margin-right: 50px;
}
@media screen and (min-width: 320px) {
  .texto-biografia {
    text-align: left;
    color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
    font-size: 0.8rem;
    margin-left: 25px;
    margin-right: 10px;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1024px) {
  .texto-biografia {
    text-align: left;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5rem;
    margin-left: 50px;
  }
}

.grid-img-bio {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  grid-template-areas: "..centrado-img-bio";
}
@media screen and (min-width: 320px) {
  .grid-img-bio {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    grid-template-areas: "centrado-img-bio";
  }
}
@media screen and (min-width: 320px) and (min-width: 1024px) {
  .grid-img-bio {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    grid-template-areas: "..centrado-img-bio";
  }
}

.img-bio {
  grid-area: centrado-img-bio;
  width: 450px;
  height: 600px;
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) {
  .img-bio {
    grid-area: centrado-img-bio;
    width: 300px;
    height: 400px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .img-bio {
    grid-area: centrado-img-bio;
    width: 450px;
    height: 600px;
    margin-bottom: 10px;
  }
}

.estilo-des-bio {
  font-size: 1rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin-bottom: 50px;
}
@media screen and (min-width: 320px) {
  .estilo-des-bio {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .estilo-des-bio {
    font-size: 1rem;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: white;
    margin-bottom: 50px;
  }
}

/*discografia*/
.centradoye {
  color: white;
  margin-top: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: green;
}
@media screen and (min-width: 320px) {
  .centradoye {
    margin-top: 20px;
    text-align: center;
    font-size: 1.1rem;
    color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
  }
}
@media screen and (min-width: 1024px) {
  .centradoye {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
  }
}

.gridiscografia {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "dis1 dis2 dis3 dis4" "dis5 dis6 dis7 dis8" "dis9 dis10 dis11 dis12" "dis13 dis14 dis15 dis16" "dis17 dis18 dis19 dis20";
  overflow: hidden;
  row-gap: 10px;
  column-gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .gridiscografia {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "dis1" "dis2" "dis3" "dis4" "dis5" "dis6" "dis7" "dis8" "dis9" "dis10" "dis11" "dis12" "dis13" "dis14" "dis15" "dis16" "dis17" "dis18" "dis19" "dis20";
    overflow: hidden;
    margin-right: 40px;
    margin-left: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .gridiscografia {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "dis1 dis2 dis3 dis4" "dis5 dis6 dis7 dis8" "dis9 dis10 dis11 dis12" "dis13 dis14 dis15 dis16" "dis17 dis18 dis19 dis20";
    overflow: hidden;
    row-gap: 10px;
    column-gap: 10px;
  }
}

.dis1 {
  grid-area: dis1;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis1 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis1 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis2 {
  grid-area: dis2;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis2 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis2 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis3 {
  grid-area: dis3;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis3 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis3 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis4 {
  grid-area: dis4;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis4 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis4 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis5 {
  grid-area: dis5;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis5 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis5 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis6 {
  grid-area: dis6;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis6 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis6 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis7 {
  grid-area: dis7;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis7 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis7 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis8 {
  grid-area: dis8;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis8 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis8 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis9 {
  grid-area: dis9;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis9 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis9 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis10 {
  grid-area: dis10;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis10 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis10 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis11 {
  grid-area: dis11;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis11 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis11 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis12 {
  grid-area: dis12;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis12 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis12 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis13 {
  grid-area: dis13;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis13 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis13 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis14 {
  grid-area: dis14;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis14 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis14 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis15 {
  grid-area: dis15;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis15 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis15 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis16 {
  grid-area: dis16;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis16 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis16 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis17 {
  grid-area: dis17;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis17 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis17 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis18 {
  grid-area: dis18;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis18 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis18 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis19 {
  grid-area: dis19;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis19 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis19 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.dis20 {
  grid-area: dis20;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .dis20 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .dis20 {
    grid-area: dis1;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

h3 {
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  text-align: auto;
}
@media screen and (min-width: 320px) {
  h3 {
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    text-align: auto;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 1.5rem;
    font-family: "Courier New", Courier, monospace;
    color: whitesmoke;
  }
}

/*show*/
table {
  width: 100%;
  border: 1px solid whitesmoke;
  width: 800px;
  overflow: hidden;
  justify-content: center;
  display: flex;
  margin-left: 560px;
}
@media screen and (min-width: 320px) {
  table {
    width: 90%;
    border: 1px solid whitesmoke;
    margin-left: 15px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  table {
    width: 100%;
    border: 1px solid whitesmoke;
    width: 800px;
    overflow: hidden;
    justify-content: center;
    display: flex;
  }
}

th, td {
  width: 25%;
  text-align: center;
  vertical-align: top;
  border: 1px solid whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
  color: white;
}
@media screen and (min-width: 320px) {
  th, td {
    text-align: center;
    border: 1px solid white;
    color: whitesmoke;
    font-family: e "Courier New", Courier, monospace;
    font-size: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  th, td {
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid whitesmoke;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.3rem;
    color: whitesmoke;
  }
}

/*galeria*/
.gridGaleria {
  display: grid;
  grid-template-columns: repeat 4, 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: " uno dos tres" " cuatro cinco seis" " siete ocho nueve";
  overflow: hidden;
  margin-left: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  row-gap: 20px;
}
@media screen and (min-width: 320px) {
  .gridGaleria {
    display: grid;
    grid-template-columns: repeat 1, 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis" "siete" "ocho" "nueve";
    overflow: hidden;
    margin-right: 40px;
    margin-left: 60px;
    row-gap: 20px;
  }
}

.imguno {
  grid-area: uno;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .imguno {
    grid-area: uno;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.imgdos {
  grid-area: dos;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .imgdos {
    grid-area: uno;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.imgtres {
  grid-area: tres;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .imgtres {
    grid-area: uno;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.imgcuatro {
  grid-area: cuatro;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .imgcuatro {
    grid-area: uno;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.imgcinco {
  grid-area: cinco;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .imgcinco {
    grid-area: uno;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.imgseis {
  grid-area: seis;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .imgseis {
    grid-area: uno;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.imgsiete {
  grid-area: siete;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .imgsiete {
    grid-area: uno;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.imgocho {
  grid-area: ocho;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .imgocho {
    grid-area: uno;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

.imgnueve {
  grid-area: nueve;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 5px;
}
@media screen and (min-width: 320px) {
  .imgnueve {
    grid-area: uno;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
  }
}

/*contacto*/
.contacto {
  width: 400px;
  height: 400px;
  text-align: center bisque;
  border: solid 1px;
  background-color: #613525;
  margin-left: 750px;
  margin-bottom: 40px;
}
@media screen and (min-width: 320px) {
  .contacto {
    width: 300px;
    height: 320px;
    text-align: center;
    border: solid 1px bisque;
    background-color: #613525;
    margin-left: 10px;
    margin-bottom: 40px;
  }
}

.size-textarea {
  width: 400px;
  height: 200px;
  background-color: bisque;
}
@media screen and (min-width: 320px) {
  .size-textarea {
    width: 300px;
    height: 200px;
    background-color: bisque;
  }
}

.fondo-contact {
  background-color: bisque;
}
@media screen and (min-width: 320px) {
  .fondo-contact {
    background-color: bisque;
  }
}

/*# sourceMappingURL=styles.css.map */
