/*colores principales*/
$fondo-principal: #613525;
$color-de-titulos:whitesmoke;
$color-fondo-novedades:#93A58D;

/*navbar*/
$color-boton:#93A58D;
$color-titulo-navabar:white;
$color-ul:whitesmoke;
$color-li-hover:blanchedalmond;

/*biografia*/
$color-texto-bio:white;
$des-bio:white;

/*discografia*/
$color-oyentes:white;
$color-h3:whitesmoke;

/*show*/
$color-bordes:blanchedalmond;
$color-text:blanchedalmond;

/*contacto*/
$color-texto-contact:white;
$borde:bisque;
$fondo:bisque;

/*fonts*/
$letra:'Courier New', Courier, monospace;


